---
Title: Home
NoSidebar: true
NoContainer: false
NoGutter: true
---
<div class="jumbotron">
    <div class="container">	
        <div>
            <img style="width: 10%;" src="/assets/img/vertical.png" alt=""/>
        </div>
        <p>
            Sextant is a navigation library for Xamarin.Forms built on Reactive Extensions and geared towards ReactiveUI.
        </p>
    </div>
</div>